/* Pokemon.css */
.item-container {
    text-align: center;
    padding: 20px;
    /* margin-top: 20px; */
  }
  
  .item {
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: inline-block;
    padding: 20px;
    margin-top: 20px;
  }
  
  .item-names {
    color: #310302;
    font-size: 2rem;
    /* margin-bottom: 10px; */
  }
  
  .item-description {
    color: #000000;
    font-size: 1.15rem;
    /* margin-bottom: 10px; */
  }

  .item-img {
    width: 200px;
    height: auto;
    margin: 0 auto;
    display: block;
  }
  
  .no-item {
    font-size: 1.5rem;
    color: #333;
  }
  